*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, 
html /* body html min height */
{
	min-height: 100%;
}

body /* body  background stle */
{
	background-image: url(../img/computer.jpg);
	background-repeat: no-repeat;
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 100%;

}


.home-title /* home title style*/
{
	position: relative;
text-align: center;
	top: 80px;
	color: #82B541;
	font-size: 50px;
	text-transform: none;
	
}

a:visited /* A Visited syle */
{
	color: unset;
}
button a
{
  display: inline-block;
  text-decoration: none;
}

.button /* home page button style : color-size-radius-position-width-transparent*/
{
	background-color: #0a4491;
	color: #ffff;
	position: relative;
  text-align: center;
  left: 630px;

	top:350px;
	border-width: 5px;
	border-radius: 20px;
	border-color:#0a4491;
	font-size: 20px;
}
.button1
 { /* home title animation style */
  width: 100%;
	
}

.home-title /* home title animation style */
 {
	
}
